.calendar {
    position: relative;
    width: 80%;
    height: 60%;
    left: 50%;
    transform: translate(-50%, 10%);
    margin-bottom: 5%;
}

.calendar h1 {
    text-align: center;
    margin-bottom: 4%;
    margin-top: 10%;
    color: white;
}

html {
    background-image: url("../../Images/gradient.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top: 0vh;
}

.mobile {
    text-align: center;
    margin-bottom: 2%;
    padding-top: 12%;
    color: white;
}

.below2 {
    float: left;
    position: relative;
    margin-top: 8%;
    width: 25%;
    left: 50%;
    transform: translate(-110%, 0%);  
    margin-bottom: 5%;
}

.below3 {
    float: right;
    position: relative;
    margin-top: 8%;
    width: 30%;
    left: 0%;
    left: -50%;
    transform: translate(110%, 0%);
    margin-bottom: 5%;
}

.days {
    position: relative;
    width: 100%;
}

h2 {
    text-align: center;
}